google-api-python-client
pyyaml
pandas
numpy
requests
beautifulsoup4
tika
stopwords
nltk
scikit-learn
spacy
flask
flask-cors
sqlalchemy
psycopg2-binary
uwsgi
joblib
snowballstemmer
celery
matplotlib
# PyICU
pycld2
morfessor
lxml
pandas
google-api-python-client
PyYAML
bs4
spacy
scikit-learn
snowballstemmer
ollama
transformers
tensorflow
torch
openai
xgboost
matplotlib
seaborn